@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

nav {
  padding: 10px 20px;
  box-shadow: -2px -2px 9px 0.5px #cccdcd;
}

.nav-links {
  height: 30px;
  display: flex;
  padding: 0 20px;
  margin: unset;
  align-items: center;
  justify-content: space-between;
}

.nav-links li {
  text-decoration: none;
  list-style-type: none;
}

.nav-links li a{
  text-decoration: none;
  color: black;
}

.logo {
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
}

#todo-container {
  background: #afafaf;
  border-radius: 15px;
  width: 400px;
  display: flex;
  padding: 15px 30px 15px 30px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.cross {
  display: inline-block;
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 15px;
  /* color: #FFFFFF; */
  margin-right: 10%;
  margin-bottom: 20px;
  font-weight: bold;
}

.cross:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cross:hover {
  cursor: pointer;
}

.cross:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.test1 {
  width: 100%;
  height: 350px;
  overflow-y: auto;
}

.test1::-webkit-scrollbar {
  /* Width of vertical scroll bar */
  width: 8px;
  /* Height of horizontal scroll bar */
  height: 10px;
}

/* .test1::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
} */

.test1::-webkit-scrollbar-thumb {
  background-color: white;
  outline: 1px solid #706e6e;
  border-radius: 10px;
}

.todo-element {
  width: 90%;
  height: 50px;
  padding-left: 10px;
  background: blue;
  margin-bottom: 9px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  font-weight: bold;
  color: #FFFFFF;
}

.task {
  width: 70%;
  padding-left: 15%;
  text-align: start;
}

.todo-actions {
  width: 30%;
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-10);
    transform: translateY(-10);
  }

  20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.done-icon:hover {
  cursor: pointer;
  animation: bounce 2s;
}

.finished-icon:hover {
  cursor: pointer;
  animation: bounce 2s;
}

.trash-icon:hover {
  cursor: pointer;
  animation: bounce 2s;
}

.strike {
  background-color: green;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Modal */

@keyframes show-modal {
  0% {
    top: -50%;
  }

  100% {
    top: 50%
  }
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: transform 0.25s ease-out;
}

.modal {
  position: fixed;
  z-index: 20;
  background: #fff;
  width: 500px;
  animation: show-modal 1s;
  /* Center the modal */

  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.modal-header {
  background: #706e6e;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.modal-main {
  padding: 20px;
}

.modal-input {
  height: 50px;
  width: 100%;
  border: none;
  font-size: 25px;
  font-weight: bolder;
  color: #757575;
}

.modal-input:focus {
  outline: none;
}

.close-button {
  border: none;
  background: transparent;
  padding: 10px;
  cursor: pointer;
  color: #000000;
  font-size: 36px;
}

.close-button:hover {
  color: #FFFFFF;
}

.App-header {
  background-color: #706e6e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}